DEBUG=True
SECRET_KEY=super-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
CHAT_SOCKET_LISTEN_URL=http://localhost:3000
CSRF_TRUSTED_ORIGINS=https://something.friendship.com # as an example
INTERNAL_API_KEY=your-long-random-secret-here
EZSTREAM_PASSWORD=password