{% load static %}
<div id="chat-container">
    <div id="chat-content">
        <!-- If logged in show messages and chat box -->
        <div id="require-login">
            <div id="chat-details">
                <span>
                    Logged in as <strong><span id="chat-username-display"></span></strong>
                </span>
                <span id="chat-logout">
                    LOGOUT
                </span>
            </div>
            <div id="chat-messages"></div>
            <div id="chat-input-container">
                <input type="text" 
                    id="chat-input" 
                    placeholder="Type your message..." 
                    maxlength="200"
                />
                <button id="chat-send">Send</button>
            </div>
        </div>
        <!-- If no logged in show login input -->
        <div id="chat-login-container">
            <input type="text" 
                id="chat-username" 
                placeholder="Enter your username..." 
                maxlength="20"
            />
            <button id="chat-login">Login</button>
        </div>
    </div>
</div>

<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<script src="{% static 'assets/chat/index.js' %}" defer></script>